:root {
  --dark: #1f2937;
  --main-text: #f9faf8;
  --button: #3882f6;
}

body {
  font-family: "Roboto", "Noto Sans", sans-serif;
  margin: 0;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.header {
  background-color: var(--dark);
  color: var(--main-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10%;

  a {
    text-decoration: none;
    color: inherit;
  }

  h1 {
    font-size: 24px;
    color: inherit;
    padding: 0;
    margin: 0;
    font-weight: bolder;
  }
}

.right-links {
  display: flex;
  gap: 20px;
}

.footer {
  background-color: var(--dark);
  color: var(--main-text);
  display: flex;
  justify-content: center;
  padding: 24px 5%;
}

.hero {
  flex: 1;
  background-color: var(--dark);
  color: var(--main-text);
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 80px 10%;
}

.hero .right {
  flex-shrink: 0;
  flex-basis: 1;
  rect {
    border-radius: 0px;
    background-color: #6d747d;
    border: none;
    outline: none;
    padding: 100px 100px;
  }
}

.hero .left {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.hero h1 {
  font-size: 48px;
  padding-bottom: 0;
  margin: 0 0;
  align-items: left;
  font-weight: bolder;
}

.information {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0px 10%;
  margin-bottom: 50px;
}

.information h1 {
  font-size: 36px;
  font-weight: 800;
  color: var(--dark);
  margin: 0;
  padding: 30px;
}

.information .illustrations {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 30px;
}

.illustration {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 170px;
  color: var(--dark);
  gap: 10px;
  text-wrap: wrap;
}

.illustration .text {
  color: #6a727e;
}

.illustration img {
  width: 170px;
  height: 170px;
  border: 4px solid var(--button);
  border-radius: 20px;
}

.quote {
  flex: 1;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 80px 15%;
  justify-content: center;
}

.quote .text {
  font-style: italic;
  font-weight: 300;
  color: var(--dark);
  font-size: 36px;
}

.quote .author {
  text-align: right;
  font-size: 18px;
  color: var(--dark);
  font-weight: 700;
}

.signup {
  flex: 1;
}

rect {
  border-radius: 10px;
  border: 2px solid var(--button);
  padding: 20px;
  /* width: 200px;
  height: 200px; */
}

button {
  background-color: var(--button);
  border: none;
  outline: none;
  color: var(--main-text);
  border-radius: 5px;
  padding: 5px 0px;
  max-width: 120px;
  font-weight: bold;
  font-size: 18px;
  margin: 7px 0px;
}
